body {
    padding-top: 60px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'B612', sans-serif;
    color: #eb7b59;
}

a {
    color: blue;
}

.fa {
    margin-right: 15px;
    color: brown;
    font-size: 1.9em;    
}

.section-showcase img {
    width: 100%;
    height: 100%;
    position: relative;
    margin-right: -500px;
    float: right;
}

.margin-top-30 {
    margin: 30px;
}

.highlight {
    background: #d14d41;
    color: whitesmoke;
    padding: 5px 25px;
    display: inline;
    line-height: 60px;
    border-radius: 5px;
}

.navbar {
    font-family: 'B612', sans-serif;
    background-color: #f27168;
    min-height: 60px;
    text-transform: uppercase;
    border-bottom: 1px #000;
    padding-top: 15px;
    text-align: center;
}

.btn {
    background-color: #612a26;
}

.navbar-brand {
    font-size: 25px;
    padding: 0px;
}

.navbar-nav {
    padding-bottom: 5px;
}

.navbar-nav > li > a {
    padding-bottom: 0px;
}

section{
    padding: 30px 0;
    overflow: hidden;
}

section h1{
    margin: 30px 0;
}

.section-1 {
    background: ghostwhite;
}

.section-2{
    background: #695746; 
}

.features li {
    list-style: none;
    line-height: 2em;
    padding: 5px 0px;
    font-size: 15px;
}

.fa-white {
    color: white;
}

.icons-list .fa {
    font-size: 3em;
}

.icons-list h4 {
    color: #fff;
}

.icons-list {
    text-align: center;
}

.icons-list i {
    display: block;
    margin-bottom: 25px;
}

.section-3 {
    text-align: center;
}

.section-3 img {
    position: relative;
}

.section-3 img#desktop {
    width: 375px;
    height: 350px;
}

.section-3 img#laptop {
    margin-left: -95px;
    z-index: 100;
    width: 290px;
    height: 250px;
}

.section-3 img#mobile {
    z-index: 100;
    width: 190px;
    height: 170px;
}

.footer-main {
    background: #706766;
    color: #fff;
    border-top: #333 8px solid;
    padding: 40px 0px;
}

.footer-main h4, .footer-main a {
    color: white;
}

.footer-main li {
    list-style: disc;
    line-height: 2em;
}

.animate {
    -moz-transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

img#main.animate {
    -moz-transform: translate(-33em,0);
    -webkit-transform: translate(-33em,0);
    transform: translate(-33em,0);
}

img#laptop.animate {
    -moz-transform: translate(10em,0);
    -webkit-transform: translate(10em,0);
    transform: translate(10em,0);
}

img#mobile.animate {
    -moz-transform: translate(-6em,0);
    -webkit-transform: translate(-6em,0);
    transform: translate(-6em,0);
}

/* Responsive CSS Design */
@media(min-width:601px) and (max-width:960px) {
    .section-3 img#desktop {
        width: 293px;
    }

    .section-3 img#laptop {
        width: 235px;
    }

    .section-3 img#mobile {
        width: 148px;
    }
}

@media(max-width:600px) {
    .section-3 img#desktop {
        width: 263px;
    }

    .section-3 img#laptop {
        display: none;
    }

    .section-3 img#mobile {
        display: none;
    }
}